{
  "main facts about source code file [src/assets/env.template.js]": {
    "00. file [src/assets/env.template.js] defines following code elements": [
      {
        "types": [
          {
            "comment": "",
            "nb_elements": 1,
            "type": "JavaScript Files",
            "elements": [
              {
                "name": "env.template.js",
                "signature": ""
              }
            ]
          },
          {
            "comment": "",
            "nb_elements": 1,
            "type": "",
            "elements": [
              {
                "name": "env.template.js",
                "signature": ""
              }
            ]
          },
          {
            "comment": "",
            "nb_elements": 1,
            "type": "JavaScript Initialisation",
            "elements": [
              {
                "name": "env.template.js",
                "signature": ""
              }
            ]
          }
        ],
        "files_list_comment": ""
      }
    ]
  }
}
